* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}

@media (max-width: 850px) {
  header {
    padding: 15px 20px;
  }

  nav ul.menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 70px;
    right: 20px;
    background: #f4f7f3;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    padding: 20px;
    gap: 15px;
  }

  nav ul.menu.active {
    display: flex;
  }

  .burger {
    display: flex;
  }

  .hero img {
    height: 60vh;
  }

  .intro,
  .zen {
    flex-direction: column;
    text-align: center;
  }

  .intro-image img,
  .zen-image img {
    width: 90%;
    max-width: 400px;
  }

  .intro-text,
  .zen-text {
    max-width: 90%;
  }

  .gallery {
    flex-direction: column;
    align-items: center;
  }

  .gallery img {
    width: 80%;
  }

  .cta {
    padding: 40px 20px;
  }
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  background-color: #f4f7f3;
}

header .logo {
  font-weight: bold;
  font-size: 1.5rem;
  color: #305c38;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 30px;
}

nav a {
  text-decoration: none;
  color: #305c38;
  font-weight: 500;
}
.hero img {
  width: 100%;
  height: 800px;
}
.intro {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 60px;
  gap: 40px;
}

.intro-image img {
  width: 350px;
  border-radius: 12px;
}

.intro-text {
  max-width: 200px;
}

.intro-text h2 {
  color: #305c38;
  margin-bottom: 15px;
  width: 200px;
}
.gallery {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 40px 0;
  background: #dce6d0;

  background-image: url("images/homepage/matcha_pulver.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
}

.gallery img {
  width: 350px;
  border-radius: 20px;
}

.zen {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 60px;
  background: #e7f0d8;
  gap: 40px;
}

.zen-image img {
  width: 350px;
  border-radius: 20px;
}

.zen-text h2 {
  color: #305c38;
  margin-bottom: 15px;
}
.cta {
  text-align: center;
  padding: 60px;
  background: #f7dcd3;
}

.cta .btn {
  background: #305c38;
  color: white;
  padding: 15px 30px;
  border-radius: 30px;
  text-decoration: none;
  font-weight: 600;
}
.btn:hover {
  background: #d9e7b0;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  border: 2px solid #305c38;
}
